body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
main.ng-enter {
    /* transition on enter for 200ms */
    transition: .2s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}
 
main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}

.completed {
    color: #888;
    font-style: italic;
}